<div class="LogPanel">
    <div class="data-display transition-base" v-if="has_logged">
        <ul class="data-points">
            <li class="point"  v-for="record in records" v-on:click.stop>
                <span class="stamp-content">
                    {{record.content}}
                </span>
                <span class="stamp-point">
                    <span class="stamp-point-data">
                        {{record.stamp}}
                    </span>
                    <span class="stamp-point-remove" v-on:click="remove_entry($index)">
                        <i class="fa fa-fw fa-times-circle-o"></i>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <br>
    <form class="entry-form transition-base" v-on:submit.prevent="new_entry" v-on:click.stop>
        <input class="item-entry" type="text" name="content" placeholder="Enter an item" v-model="entry">
        <input class="item-entry" type="text" name="stamp" v-model="stamp" v-bind:placeholder="time.">
        <button class="item-submit transition-base" v-on:click="new_entry">
            <i class="fa fa-fw fa-arrow-circle-o-right"></i>
        </button>
    </form>
</div>
