<div class="AccountPanel">
    <div class="account-section" v-if="settings.user" transition="crossfade">
        <div class="account-card">
            <div class="account-settings" v-if="visible_action('edit_user')">
                <contact-panel v-bind:editing="action == 'edit_user'"
                               v-bind:user="settings.user"
                               v-bind:settings="settings"></contact-panel>
            </div>
            <div class="account-settings" v-if="action == 'edit_password'">
                <password-panel v-bind:settings.sync="settings"></password-panel>
            </div>
            <div class="account-settings" v-if="action == 'integration_settings'">
                <!-- <integration-panel v-bind:settings.sync="settings"></integration-panel> -->
            </div>
            <div class="user-actions">
                <button class="cancel" v-on:click="cancel_action(action)" v-bind:disabled="stasis != null"
                     v-show="action != null" transition="crossfade"
                     v-bind:class="{ active : action != null }" v-el:cancel>
                    <span class="lnr lnr-cross"></span>
                </button>

                <button class="action sign-out" v-on:click="sign_out" v-bind:disabled="stasis == 'sign_out'"
                     v-show="visible_action('sign_out')" transition="crossfade" v-el:signout>
                    <span class="lnr lnr-exit"></span>
                </button>
                <button class="action edit" v-on:click="toggle_action('edit_user')" v-bind:disabled="stasis == 'edit_user'"
                     v-show="visible_action('edit_user')" transition="crossfade"
                     v-bind:class="{ active : action == 'edit_user' }" v-el:info>
                    <span class="lnr lnr-pencil"></span>
                    <span class="commit" v-show="action == 'edit_user'">Save</span>
                </button>
                <button class="action password" v-on:click="toggle_action('edit_password')" v-bind:disabled="stasis == 'edit_password'"
                     v-show="visible_action('edit_password')" transition="crossfade"
                     v-bind:class="{ active : action == 'edit_password' }" v-el:password>
                    <span class="lnr lnr-lock"></span>
                    <span class="commit" v-show="action == 'edit_password'">Submit</span>
                </button>
                <button class="action integration" v-on:click="toggle_action('integration_settings')" v-bind:disabled="stasis == 'integration_settings'"
                     v-show="visible_action('integration_settings')" transition="crossfade"
                     v-bind:class="{ active : action == 'integration_settings' }" v-el:integration>
                    <span class="lnr lnr-link"></span>
                    <span class="commit" v-show="action == 'integration_settings'">Done</span>
                </button>
            </div>
        </div>
    </div>
    <div class="signin-section" v-else transition="crossfade">
        <signin-panel v-bind:settings.sync="settings"></signin-panel>
    </div>
</div>
