.AccountPanel {
    position: relative;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    padding: 25px;

    color: #969685;
}

/* Account Section */

.AccountPanel
.account-section {
    height: 100%;
    width: 100%;
}

.AccountPanel
.account-card {
    position: relative;
    height: 100%;
    width: 350px;
    margin: auto;
    overflow: hidden;

    border: 5px solid #969685;
    font-size: 0;
    border-radius: 2px;
}

.AccountPanel
.account-settings {
    width: 100%;
    height: calc(100% - 60px);
    box-sizing: border-box;
    padding: 10px;
}

.AccountPanel
.user-actions {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
}

.AccountPanel
.user-actions .action {
    position: absolute;
    bottom: 10px;

    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px;
    border: none;

    background: #FFFFFC;
    color: #969685;
    line-height: 40px;
    font-size: 0;
    font-family: inherit;

    transition: all .3s ease;
}

.AccountPanel .action:nth-child(2) { right: calc(90% - 40px); left: 10%; }
.AccountPanel .action:nth-child(3) { right: calc(66% - 40px); left: 33%; }
.AccountPanel .action:nth-child(4) { right: 33%; left: calc(66% - 40px); }
.AccountPanel .action:nth-child(5) { right: 10%; left: calc(90% - 40px); }

.AccountPanel .action.active {
    left: 30%;
    right: 30%;
    width: 140px;
    padding: 0px 10px;
}

.AccountPanel .user-actions .action .lnr,
.AccountPanel .user-actions .action .commit {
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    width: 40px;
    font-size: 30px;
}

.AccountPanel
.user-actions .action
.commit {
    display: inline-block;
    font-size: 21px;
    padding-left: 10px;
    width: auto;
    max-width: 100%;
    overflow: hidden;
}

.AccountPanel .action:hover,      .AccountPanel .action.active      { color: #FFF; }
.AccountPanel .sign-out:hover,    .AccountPanel .sign-out.active    { background: #CB4154; }
.AccountPanel .edit:hover,        .AccountPanel .edit.active        { background: #2B6CC4; }
.AccountPanel .password:hover,    .AccountPanel .password.active    { background: #FFA343; }
.AccountPanel .integration:hover, .AccountPanel .integration.active { background: #3BB08F; }

.AccountPanel .action.active:hover {
    background: #9FE2BF;
    color: #3BB08F;
}

.AccountPanel .cancel {
    position: absolute;
    top: 3px;
    right: 10px;

    width: 25px;
    height: 25px;
    border-radius: 50%;

    line-height: 30px;
    font-size: 15px;

    background: #EE204D;
    color: #FFF;
}
.AccountPanel .cancel:hover {
    background: #FC6C85;
    color: #EE204D;
}

.AccountPanel .user-actions .action[disabled]
.AccountPanel .user-actions .cancel[disabled], {
    background: #CCC;
    color: #BBB;
}


/* ---- Transitions ---- */

.crossfade-transition {
    transition: all .3s ease;
    opacity: 1;
}
.crossfade-enter, .crossfade-leave {
    opacity: 0;
    width: 0;
}


/* ---- Media Queries ---- */

@media (max-width: 550px) {

    /* ACCOUNT */



    /* SIGN IN */

    .AccountPanel
    .signin-section {
        padding-top: 0;
    }

    .AccountPanel
    .signin-title-text {
        font-size: 0.8em;
    }

    .AccountPanel
    .signin-subheading {
        display: none;
    }

    .AccountPanel
    .signin-form .signin-input,
    .AccountPanel
    .signin-form .signin-button {
        font-size: 14px;
        line-height: 20px;
    }
}
