<div class="AccountPanel">
    <div class="account-section" v-if="settings.user">
        Welcome {{ settings.user.username }}
        <button v-on:click="sign_out">Sign Out</button>
    </div>
    <div class="signin-section" v-else>
        <div class="signin-title">
            <!-- <img class="title-icon" src="/images/clock.svg"/> -->
            <span class="signin-title-text">Timesheet</span>
            <div class="signin-subheading">Welcome</div>
        </div>
        <form class="signin-form" v-on:submit.prevent="sign_in">
            <input class="signin-input" type="text"     v-model="username" placeholder="username"/>
            <input class="signin-input" type="password" v-model="password" placeholder="password"/>
            <button class="signin-button" type="submit">Sign In</button>
            <div class="signin-message" v-text="result"></div>
        </form>
    </div>
</div>
