.SettingsPanel {}

.SettingsPanel
.logo {
	position: absolute;
	top: 20px;
	right: 20px;

    display: inline-block;
    width: 45px;
    height: 45px;

    cursor: pointer;
}

.SettingsPanel
.settings-container {
    position: absolute;
    bottom: 0px;

	width: 100%;
    height: 230px;
    overflow: visible;

    font-size: 0px;

    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.7);
       -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.7);
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.7);
}

/* Rise Transition */
.SettingsPanel
.rise-transition {
    transition: all .3s ease-in-out;
    height: 230px;
}
.SettingsPanel .rise-enter,
.SettingsPanel .rise-leave {
    height: 0;
}


/* SECTION STYLES */

.SettingsPanel
.settings-container
.settings-subsection {
    display: block;
    width: 100%;
    height: 230px;

    box-sizing: border-box;
    border-top: 5px solid #BBB;

    background: #FFFFFC;
    color: #333;

    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.SettingsPanel
.settings-container
.settings-subsection
.section-title {
    position: absolute;
    left: calc(50% - 142px);
    top: 0;
    z-index: 100;
    height: 26px;

    box-sizing: border-box;
    padding: 3px 6px;
    margin: 0;

    background: #BBB;
    color: #FFFFFC;
}

.SettingsPanel
.settings-container
.settings-subsection .section-title
.section-title-text {
    display: inline-block;
    font-weight: bold;
    width: 200px;
}

.SettingsPanel
.settings-container
.settings-subsection .section-title
.title-navigate {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.SettingsPanel
.settings-container
.settings-subsection .section-title
.title-navigate:hover {
    background: #5C5C54;
}

.SettingsPanel
.settings-container
.settings-subsection
.section-content {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Swipe Transitions */
.SettingsPanel
.swipe-next-transition,
.SettingsPanel
.swipe-previous-transition {
    position: absolute;
    transition: all 1s ease-in-out;
    left: 0;
}
.SettingsPanel .swipe-next-enter,
.SettingsPanel .swipe-previous-leave {
    left: -100%;
}
.SettingsPanel .swipe-next-leave,
.SettingsPanel .swipe-previous-enter {
    left: 100%;
}
