.SettingsPanel {}

.SettingsPanel
.logo {
	position: absolute;
	top: 20px;
	right: 20px;

    display: inline-block;
    width: 45px;
    height: 45px;

    cursor: pointer;
}

.SettingsPanel
.settings-container {
    position: absolute;
    bottom: 0px;

	width: 100%;
    height: 230px;
    overflow: visible;

    font-size: 0px;

    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.7);
       -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.7);
            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.7);
}

/* always present */
.SettingsPanel
.rise-transition {
    transition: all .3s ease-in-out;
    height: 230px;
}

/* .rise-enter defines the starting state for entering */
/* .rise-leave defines the ending state for leaving */
.SettingsPanel .rise-enter,
.SettingsPanel .rise-leave {
    height: 0;
}


/* SECTION STYLES */

.SettingsPanel
.settings-container
.settings-subsection {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 230px;

    box-sizing: border-box;
    border: 5px solid #BBB;

    background: #FFFFFC;
    color: #333;

    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.SettingsPanel
.settings-container
.settings-subsection
.section-title {
    display: inline-block;
    z-index: 100;

    box-sizing: border-box;
    padding: 3px 6px;
    margin: 0;

    background: #BBB;
    color: #FFFFFC;
}

.SettingsPanel
.settings-container
.settings-subsection .section-title
.section-title-text {
    font-weight: bold;
}

.SettingsPanel
.settings-container
.settings-subsection .section-title
.title-navigate {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.SettingsPanel
.settings-container
.settings-subsection .section-title
.title-navigate:hover {
    background: #5C5C54;
}

/* always present */
.SettingsPanel
.swipe-transition {
    transition: all 1s ease-in-out;
    left: 0;
}

/* .swipe-enter defines the starting state for entering */
.SettingsPanel .swipe-enter {
    left: -100%;
}

/* .swipe-leave defines the ending state for leaving */
.SettingsPanel .swipe-leave {
    left: 100%;
}


/* SPLIT SECTION STYLES */

.split-section {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#FFFFFC), color-stop(50%,#333));
    background: -webkit-linear-gradient(-45deg, #FFFFFC 50%, #333 50%);
    background:    -moz-linear-gradient(-45deg, #FFFFFC 50%, #333 50%);
    background:     -ms-linear-gradient(-45deg, #FFFFFC 50%, #333 50%);
    background:      -o-linear-gradient(-45deg, #FFFFFC 50%, #333 50%);
    background:         linear-gradient(135deg, #FFFFFC 50%, #333 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFC', endColorstr='#333',GradientType=1 );
}

.SettingsPanel
.split-subsection {
    position: absolute;
    padding: 10px;
    min-width: 30%;
}

.SettingsPanel
.split-subsection.section-left {
    top: 30px;
    left: 30px;
    text-align: left;
}

.SettingsPanel
.split-subsection.section-right {
    bottom: 30px;
    right: 30px;
    text-align: right;
}

.SettingsPanel
.sunrise-group,
.SettingsPanel
.sunset-group {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    text-align: center;
}

.SettingsPanel
.sunrise-title,
.SettingsPanel
.sunset-title {
    display: inline-block;
    width: 100%;
}

.SettingsPanel
.sunrise-icon,
.SettingsPanel
.sunset-icon {
    display: inline-block;
    vertical-align: middle;
}

.SettingsPanel
.sunrise-icon {
    width: 50px;
    height: 50px;
}

.SettingsPanel
.sunset-icon {
    width: 35px;
    height: 35px;
}

/* TIME STYLES */

.SettingsPanel
.time-input-group {
    display: inline-block;
    font-size: 0;
    width: 75px;
}

.SettingsPanel
.time-input-group.time-above {
    vertical-align: bottom;
}

.SettingsPanel
.time-input-group.time-below{
    vertical-align: top;
}

.SettingsPanel
.time-input-separator {
    display: inline-block;
    text-align: center;
    width: 13px;
    font-size: 20px;
}

.SettingsPanel
.time-input-group
.time-input {
    width:  30px;
    height: 30px;

    box-sizing: border-box;
    padding: 0px 1px;
    border: none;

    background: transparent;
    color: inherit;
    font: inherit;

    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

.SettingsPanel
.time-input-group
.time-input:hover {
    border: 1px solid #BBB;
}


/* COLOURS STYLES */

.SettingsPanel
.pickers-column {
    display: inline-block;
    width: 40px;
}

.SettingsPanel
.pickers-above {
    margin-bottom: 13px;
}

.SettingsPanel
.pickers-below {
    margin-left: 9px;
    margin-top: 10px;
}

.SettingsPanel
.pickers-column
.ColourPicker {
    padding: 3px;
}

.SettingsPanel
.pickers-column.pickers-below
.ColourPicker {
    margin-bottom: 10px;
}

.SettingsPanel
.pickers-column.pickers-above
.ColourPicker {
    margin-top: 10px;
}


/* CLOCK STYLES */

.SettingsPanel
.clock-options {
    display: block;
    width: 100%;
    height: calc(100% - 20px);
    overflow: hidden;

    font-size: 0px;
}

.SettingsPanel
.option-panel {
    display: inline-block;
    width: 50%;
    height: 100%;

    text-align: center;
    color: #969685;
}

.SettingsPanel
.option-panel
.option-content {
    box-sizing: border-box;
    padding: 50px 0;
    height: 80%;
}

.SettingsPanel
.option-panel
.option-footer {
    display: inline-block;
    height: 20%;
    width: 100%;
}

.SettingsPanel
.option-button {
    display: inline-block;
    width: 150px;

    box-sizing: border-box;
    padding: 3px 6px;

    background: #BBB;
    color: #FFFFFC;
    font-size: 13px;
}

.SettingsPanel
.option-button:hover {
    background: #5C5C54;
}

.SettingsPanel
.option-button.active {
    background: #eee;
    color: #333;
    border: 1px solid grey;
}

.SettingsPanel
.clock-body-digital {
    padding: 0;
    height: 80px;
}

.SettingsPanel
.title {
	font-size: calc(2vw/3);
}

.SettingsPanel
.value,
.SettingsPanel
.separator {
    font-size: calc(10vw/3);
}

.SettingsPanel
.clock-body-analog {
    display: inline-block;
    height: 80px;
    width: 80px;
    padding: 0;
}

.SettingsPanel
.clock-body-analog
.clock-face {
    height: 70px;
    width: 70px;
    border-width: 5px;
}
