<div class="ClockPanel noselect" v-el:clock>
	<div class="clock-body-digital transition-base" v-if="mode == 'digital'" v-bind:style="{ color: face }">
		<div class="unit hours">
			<div class="inset-text title">HOURS</div>
			<div class="inset-text value">
                {{hours}}
            </div>
		</div>
		<span class="inset-text separator">:</span>
		<div class="unit minutes">
			<div class="inset-text title">MINUTES</div>
			<div class="inset-text value">
                {{minutes}}
            </div>
		</div>
		<span class="separator">:</span>
		<div class="unit seconds">
			<div class="title">SECONDS</div>
			<div class="value">
                {{seconds}}
            </div>
		</div>
		<span class="separator">&nbsp;</span>
		<div class="unit period">
			<div class="title">PERIOD</div>
			<div class="value">
                {{period}}
            </div>
		</div>
	</div>
    <div class="clock-body-analog" v-if="mode == 'analog'">
        <div class="clock-face transition-base" v-bind:style="{ borderColor: face }">
            <div class="hand"><div class="marker marker-one   transition-base" v-bind:style="{ background:  face }"></div></div>
            <div class="hand"><div class="marker marker-two   transition-base" v-bind:style="{ background:  face }"></div></div>
            <div class="hand"><div class="marker marker-three transition-base" v-bind:style="{ background:  face }"></div></div>

            <div class="centre transition-base" v-bind:style="{ background: face }"></div>

            <div class="hand">
                <div class="hour-hand hand-transition"
                     v-bind:style="{ transform: 'rotate('+hours_degrees+'deg)',   background: face }"></div>
            </div>
            <div class="hand">
                <div class="minute-hand hand-transition"
                     v-bind:style="{ transform: 'rotate('+minutes_degrees+'deg)', background: face }"></div>
            </div>
            <div class="hand">
                <div class="second-hand hand-transition"
                     v-bind:style="{ transform: 'rotate('+seconds_degrees+'deg)', background: face }"></div>
            </div>
        </div>
    </div>
</div>
