<div class="ClockPanel noselect" v-on:click.self="toggle_dimmer">
	<div class="clock-body-digital" v-if="settings.mode == 'digital'">
		<div class="unit hours">
			<div class="inset-text title">HOURS</div>
			<div class="inset-text value">
                {{hours}}
            </div>
		</div>
		<span class="inset-text separator">:</span>
		<div class="unit minutes">
			<div class="inset-text title">MINUTES</div>
			<div class="inset-text value">
                {{minutes}}
            </div>
		</div>
		<span class="separator">:</span>
		<div class="unit seconds">
			<div class="title">SECONDS</div>
			<div class="value">
                {{seconds}}
            </div>
		</div>
		<span class="separator">&nbsp;</span>
		<div class="unit period">
			<div class="title">PERIOD</div>
			<div class="value">
                {{period}}
            </div>
		</div>
	</div>
    <div class="clock-body-analog" v-if="settings.mode == 'analog'" v-on:click="toggle_dimmer">
        <div class="clock-face transition-base" v-bind:style="{ borderColor: secondary }">
            <div class="hand"><div class="marker marker-one   transition-base" v-bind:style="{ background:  secondary }"></div></div>
            <div class="hand"><div class="marker marker-two   transition-base" v-bind:style="{ background:  secondary }"></div></div>
            <div class="hand"><div class="marker marker-three transition-base" v-bind:style="{ background:  secondary }"></div></div>

            <div class="centre transition-base" v-bind:style="{ background: secondary }"></div>

            <div class="hand">
                <div class="hour-hand hand-transition"
                     v-bind:style="{ transform: 'rotate('+hours_degrees+'deg)',   background: secondary }"></div>
            </div>
            <div class="hand">
                <div class="minute-hand hand-transition"
                     v-bind:style="{ transform: 'rotate('+minutes_degrees+'deg)', background: secondary }"></div>
            </div>
            <div class="hand">
                <div class="second-hand hand-transition"
                     v-bind:style="{ transform: 'rotate('+seconds_degrees+'deg)', background: secondary }"></div>
            </div>
        </div>
    </div>
</div>
