<!-- ClockPanel -->
<div class="ClockPanel noselect">
	<div class="clock-body">
		<div class="unit hours">
			<div class="inset-text title">HOURS</div>
			<div class="inset-text value">
                {{hours}}
            </div>
		</div>
		<span class="inset-text separator">:</span>
		<div class="unit minutes">
			<div class="inset-text title">MINUTES</div>
			<div class="inset-text value">
                {{minutes}}
            </div>
		</div>
		<span class="separator">:</span>
		<div class="unit seconds">
			<div class="title">SECONDS</div>
			<div class="value">
                {{seconds}}
            </div>
		</div>
		<span class="separator">&nbsp;</span>
		<div class="unit period">
			<div class="title">PERIOD</div>
			<div class="value">
                {{period}}
            </div>
		</div>
	</div>
</div>
